<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head lang="en">

    <title>OpenMaps</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_name" th:content="${_csrf.parameterName}"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../static/css/stylesheet.css"
          th:href="@{css/stylesheet.css}" rel="stylesheet" media="screen"/>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css"/>
</head>
<body>
</body>
</html>