<html
        xmlns:th="http://www.thymeleaf.org"
>

<head lang="en">

</head>
<body>
<div class="container">

    <div class="container">
        <div th:fragment="menu">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <ul class="nav navbar-nav">
                            <li><a href="#" th:href="@{/}">Home</a></li>
                            <li><a href="#" th:href="@{/details}">User details</a></li>
                        </ul>
                    </div>
                </div>

                <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                    <input type="submit" value="Sign Out"/>
                </form>

            </nav>
        </div>
    </div>
</div>
</body>
</html>