<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/menu :: menu"></th:block> /*/-->

    <div class="jumbotron">
        <h2>User Details</h2>
        <div>
            <a href="javascript: document.logoutForm.submit()">Sign out</a>
            <form class="form-horizontal">
                <div th:switch="${error}">
                    <div th:case="true">
                        <label class="col-sm-2 control-label">Authentication error</label>
                    </div>
                    <div th:case="false">
                        <div>
                            <img class="profile-picture" th:src="${user.img.href}"/>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Username:</label>
                            <div class="col-sm-10">
                                <p class="form-control-static" th:text="${user.display_name}">Username</p></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Id:</label>
                            <div class="col-sm-10">
                                <p class="form-control-static" th:text="${user.id}">Name</p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>